*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Shantell Sans', cursive;
}

body {
    background-color: rgb(28, 82, 83);
}

.title {
    text-align: center;
    font-size: 70px;
    padding: 2rem;
    color: rgb(223, 255, 127);
}

.container {
    width: 1080px;
    margin: auto; 
    padding-top: 1rem;  
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.square {
    width: 100px;
    height: 100px;
    margin: auto;
    text-align: center;
    font-size: 1.3rem;
}

.pasta {
    background-color: rgb(48, 107, 52);
}

.fagioli {
    background-color: rgb(243, 255, 198);
}

.pasta-e-fagioli {
    background-color: rgb(69, 124, 131);
}

.cifra {
    background-color: rgb(182, 23, 75);
}